<h3 class="page-heading">Performance Co-Pilot App</h3>
This app integrates metrics from Performance Co-Pilot.<br /><br />

It includes the following datasources:
<ul class="pcp">
  <li><strong>PCP Redis</strong> for fast, scalable time series aggregation across multiple hosts</li>
  <li><strong>PCP Vector</strong> for live, on-host metrics analysis, with container support</li>
  <li><strong>PCP bpftrace</strong> for system introspection using bpftrace scripts</li>
</ul>

<div class="pcp pluginconfig-message" ng-if="ctrl.appModel.enabled">
  <i class="icon-gf icon-gf-check pcp-icon-success"></i> Plugin enabled. Please add the PCP Redis, PCP Vector and/or PCP bpftrace datasources now.
</div>
